# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky

# bundler cache
_site
vendor
Gemfile.lock
YuchaoZheng88.github.io

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
